@import "~normalize.css/normalize.css";

/* roboto-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('@fonts/roboto-v30-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-500 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('@fonts/roboto-v30-cyrillic_latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --color-main: #000000;
  --color-main_lighten: #3333331a;
  --color-secondary: #ffffff;
  --color-accent: #cc6633;
  --color-positive: #A4CC33;
  --color-negative: #CC3361;
  --color-grey_lightest: #f5f5f5;
  --color-grey_light: #f3f3f3;
  --color-grey_lighten: #dcdcdc;
  --color-grey: #d9d9d9;
  --color-grey_darken: #c4c4c4;
  --color-grey_dark: #999999;
  --color-grey_darkest: #666666;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html, body {
  overflow-x: hidden;
}

* {
  color: var(--color-main);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-grey_light);
  font-family: 'Roboto', serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1, h2, h3 {
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
  padding: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style: none;
}
